/*!
 * Chosen Bootstrap Look & Feel
 * Based on bootstrap-chosen (https://github.com/alxlit/bootstrap-chosen)
 * @author İsmail Demirbilek (@dbtek)
 * https://github.com/dbtek/chosen-bootstrap
 */

.chosen-select {
    width: 100%;
}

.chosen-select-deselect {
    width: 100%;
}

.chosen-container {
    position: relative;
    display: inline-block;
    width: 100% !important;
    vertical-align: middle;
    font-size: 14px;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060;
    margin-top: -1px;
    border: 1px solid rgba(82, 168, 236, 0.8);
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 4px 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container.chosen-with-drop .chosen-drop {
    right: 0;
    left: 0;
}

.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    color: #555;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 1.428571429;
}

.chosen-container .chosen-results li em {
    background: #feffde;
    font-style: normal;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    color: #999;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #428bca;
    color: white;
}

.chosen-container .chosen-results li.highlighted em {
    background: transparent;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #999;
}

.chosen-container .chosen-results .no-results {
    display: list-item;
    background: #eee;
}

.chosen-container .chosen-results-scroll {
    position: absolute;
    z-index: 1;
    margin: 0 4px;
    width: 321px;
    background: white;
    text-align: center;
}

.chosen-container .chosen-results-scroll span {
    display: inline-block;
    width: 9px;
    height: 1.428571429;
    text-indent: -5000px;
}

.chosen-container .chosen-results-scroll-down {
    bottom: 0;
}

.chosen-container .chosen-results-scroll-down span {
    background: url("chosen-sprite.png") no-repeat -4px -3px;
}

.chosen-container .chosen-results-scroll-up span {
    background: url("chosen-sprite.png") no-repeat -22px -3px;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #555;
    text-decoration: none;
    white-space: nowrap;
    line-height: 34px;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 12px;
    right: 26px;
    display: block;
    width: 12px;
    height: 10px;
    background: url("chosen-sprite.png") right top no-repeat;
    font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px;
}

.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0 7px;
}

.chosen-container-single .chosen-default {
    color: #777;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input {
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: url("chosen-sprite.png") no-repeat 100% -20px, #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}

.chosen-container-single-nosearch .chosen-search input {
    position: absolute;
    left: -9000px;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: auto !important;
    height: 1%;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices .search-field input {
    margin: 0 0 0 8px;
    padding: 4px;
    height: 32px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555;
}

.chosen-container-multi .chosen-choices .search-field .default {
    color: #777;
}

.chosen-container-multi .chosen-choices .search-choice {
    position: relative;
    margin: 6px 3px 3px 5px;
    padding: 3px 20px 3px 5px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #eee;
    background-clip: padding-box;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    color: #333;
    line-height: 13px;
    cursor: default;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    position: absolute;
    top: 5px;
    right: 4px;
    display: block;
    width: 12px;
    height: 10px;
    background: url("chosen-sprite.png") right top no-repeat;
    font-size: 1px;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}

.chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4;
}

.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: none;
}

.chosen-container-active .chosen-single {
    border: 1px solid rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid rgba(82, 168, 236, 0.8);
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid rgba(82, 168, 236, 0.8);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.chosen-container-active .chosen-choices .search-field input {
    color: #555 !important;
}

.chosen-disabled {
    opacity: .5 !important;
    cursor: default;
}

.chosen-disabled .chosen-single {
    cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

.chosen-rtl {
    text-align: right;
}

.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}

.chosen-rtl .chosen-single div {
    right: auto;
    left: 7px;
}

.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}

.chosen-rtl .chosen-choices .search-field input {
    direction: rtl;
}

.chosen-rtl .chosen-choices li {
    float: right;
}

.chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices .search-choice .search-choice-close {
    right: auto;
    left: 4px;
    background-position: right top;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results .group-option {
    padding-right: 15px;
    padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: 0;
}

.chosen-rtl .chosen-search input {
    padding: 4px 5px 4px 20px;
    background: url("chosen-sprite.png") no-repeat -28px -20px, #fff;
    direction: rtl;
}

.chosen-container-active.chosen-with-drop .chosen-container-multi {
    border: 1px solid rgba(82, 168, 236, 0.8);
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.has-error .chosen-container .chosen-single, .has-error .chosen-container .chosen-choices, .has-error .chosen-container .chosen-drop {
    border-color: #b94a48;
}

.has-error .chosen-container-active .chosen-single, .has-error .chosen-container-active .chosen-choices {
    -webkit-box-shadow: 0 0 8px rgba(206, 132, 131, .6);
    box-shadow: 0 0 8px rgba(206, 132, 131, .6);
}

.has-error .chosen-container-active .chosen-drop {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 4px 8px rgba(206, 132, 131, .6);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 4px 8px rgba(206, 132, 131, .6);
}

.has-success .chosen-container .chosen-single, .has-success .chosen-container .chosen-choices, .has-success .chosen-container .chosen-drop {
    border-color: #3c763d;
}

.has-success .chosen-container-active .chosen-single, .has-success .chosen-container-active .chosen-choices {
    -webkit-box-shadow: 0 0 8px rgba(103, 177, 104, .6);
    box-shadow: 0 0 8px rgba(103, 177, 104, .6);
}

.has-success .chosen-container-active .chosen-drop {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 4px 8px rgba(103, 177, 104, .6);
    box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 4px 8px rgba(103, 177, 104, .6);
}
